header {
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    margin-bottom:5px; 
}
nav{
    text-align: center; 
}

li {
    border-sizing: border-box;
    display: inline;
    list-style-type: none;
    background-color: #8f908da1;
    color: #ffffff; 
    text-align: center;
    font-size: 20px;
    padding:5px 10px;  
     
    
}
.menu-link {
    text-decoration: none;
    color: #ffffff;

}

.menu-link:visited {
    color: #ffffff;

}

.gallery{
    box-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.photo-count-descr{
    background-color: #38DCCB;
    box-align: center;
    width: 95%; 
    margin-left: auto;
    margin-right: auto; 
}

.photo-count{
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: gold; 

}

.photo{
    display: inline-block;

}

.editor{
    text-align: center;
    background-color: gold;
    color: white; 
}
footer {
    /*font-family:
    font: */
    color: #ffffff;
    background-color: #000000; 
    text-align: center;
    height: 30px; 

}