*{
    font-family: 'Raleway', sans-serif;
}

header {
    font: 'Roboto';
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    margin-bottom:5px; 
}
nav{
    text-align: center; 
}

li {
    border-sizing: border-box;
    display: inline;
    list-style-type: none;
    background-color: #8f908da1;
    color: #ffffff; 
    text-align: center;
    font-size: 20px;
    padding:5px 10px;  
     
    
}
.menu-link {
    text-decoration: none;
    color: #ffffff;

}

.menu-link:visited {
    color: #ffffff;

}

.gallery{
    box-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 85%; 
    margin: 0 auto; 
}

.photo-count-descr{
    background-color: #38DCCB;
    box-align: center;
    width: 95%; 
    margin-left: auto;
    margin-right: auto; 
}

.photo-count{
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: gold; 

}

.photo{
    display: inline-block;
    width: 24%;
}

.photo img {
    width: 100%; 
}

.editor{
    text-align: center;
    background-color: gold;
    color: white; 
}
footer {
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    font: 'Raleway';
    font-size: 12px;
    color: #ffffff;
    background-color: #000000; 
    text-align: center;
    height: 30px; 
    padding: 2px;
    align-content: center;
    

}